{% extends 'base.html' %}

{% load static %}

{% block headcss %}
    <link rel="stylesheet" href="{% static "css/diseño.css" %}">
{% endblock %}

{% block regresar %}
     <a class="btn btn btn-danger" href="{{url_anterior}}">
            Regresar
      </a>
{% endblock %}

{% block main %}


     <div class="container-lg table-responsive ">
         <table class="table table-hover table-bordered " >
           <thead class="table-dark" >
             <tr>
               <th scope="col">#</th>
               <th scope="col" >Nombre Cliente</th>
               <th scope="col">Dirección del cliente</th>
               <th scope="col">Número de teléfono</th>
               <th scope="col"> Contacto Email</th>
               <th scope="col"> Acciones a Efectuar</th>
             </tr>
           </thead>
           <tbody>
             {% block rows %}
               <tbody>

               {% for object in cliente %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>{{ object.nombre }}</td>
                        <td>{{ object.direccion}}</td>
                        <td>{{ object.telefonos }}</td>
                        <td>{{ object.email }}</td>

                        <td>
                            <button  onclick="abrir_modal_eliminar('{% url 'cuenta_cobrar:eliminar_cliente' object.id %}')">
                                    ✖️
                            </button>
                            <button  onclick="abrir_modal_editar('{% url 'cuenta_cobrar:editar_cliente' object.id %}')">
                                    ✍️️
                            </button>
                        </td>
                    </tr>


               {% endfor %}
                </tbody>
             {% endblock %}

         </table>
     </div>

     <div class=" container row row-cols-2  row-cols-lg-1 g-2 g-lg-4 cent">
         <div class="col" >
             <button  class="btn btn-info btn-lg me-md-5" onclick="abrir_modal('{% url 'cuenta_cobrar:crear_cliente' %}')">
                 Añadir clientes
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0
                    1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1
                    1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
             </button>
             <a href="{% url 'cuenta_cobrar:cobro' %}">
                 <button class="btn btn-success btn-lg">
                    Ir a la pantalla de cuentas
                </button>
             </a>
         </div>
     </div>
    <div class="modal fade" id="insertar" role="dialgo">
    </div>

    <div class="modal fade" id="eliminar" role = dialog >
    </div>

    <div class="modal fade" id="editar" role = dialog >

    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal(url){
            $('#insertar').load(url, function (){
                $(this).modal('show');
            });
        }

        function abrir_modal_eliminar(url){
            $('#eliminar').load(url, function(){
               $(this).modal('show')
            });
        }
        function abrir_modal_editar(url){
            $('#editar').load(url, function(){
               $(this).modal('show')
            });
        }
    </script>
{% endblock %}
